<h1><%= @title %></h1>
<fieldset>
  <legend>Alphabetical index</legend>
  <% @letters.each do |letter| -%>
    <% letter_class = ( !@initial.nil? and letter == @initial.initial ) ? "letter_current" : "letter" %>
    <%= link_to letter, { :action => "index", :id => letter },
                :class => letter_class %>
  <% end -%>
</fieldset>
<%= render :partial => "result_summary" %>
<%= render :partial => "user_table" %>
