<h1>User information page</h1>
<ul>
  <li>Screen Name: <%= @user.screen_name %></li>
  <li>Email: <%= @user.email %></li>
  <li>Password: <%= @user.password_in_stars %> </li>
</ul>
<ul>
  <li><%= link_to "Edit my info", :action => "edit" %> </li>
</ul>
