<html>
  <head>
    <title><%= @title %></title>
    <%= upload_additional_css %>
    <% if ENV["RAILS_ENV"] == "development" -%>
      <%= stylesheet_link_tag "debug" -%>
    <% end %>
    
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "effects" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <div id="page_container">
      <div id="header">Test project</div>
      <div id="navigation">
        <span style="float: right">
          <% if logged_in? -%>
            Welcome <%= nav_link session[:screen_name],
                                 :controller => "user",
                                 :action => "index" %>.
            <%= nav_link  "Logout",   :controller => "user",
                                :action => "logout"  %>
          <% else -%>
            <%= nav_link  "Register", :controller => "user",
                                  :action => "register"  %>
            <%= nav_link  "Login", :controller => "user",
                                  :action => "login"  %>

          <% end -%>
        </span>
        <%= nav_link  "Home",   :controller => "site",
                                :action => "index"  %> |
        <%= nav_link  "Community",  :controller => "community",
                                :action => "index"  %> |
        <%= nav_link  "About",  :controller => "site",
                                :action => "about"  %> |
        <%= nav_link  "Help",   :controller => "site",
                                :action => "help"  %> |
        
      </div>
      <div id="content">
        <% if flash[:notice] -%>
        <div id="notice"><%= flash[:notice] %></div>
        <% end -%>
        <%= yield %>
        <br clear="all" />
      </div>
    </div>

    <% if ENV["RAILS_ENV"] == "development" -%>
    <div id="debug">

      <a href="#" onclick="Element.toggle('params_debug_info');return false;">params</a> |
      <a href="#" onclick="Element.toggle('session_debug_info');return false;">session</a> |
      <a href="#" onclick="Element.toggle('env_debug_info');return false;">env</a> |
      <a href="#" onclick="Element.toggle('request_debug_info');return false;">request</a>

      <fieldset id="params_debug_info" class="debug_info" style="display:none">
        <legend>Params</legend>
        <%= debug(params) -%>
      </fieldset>
      <fieldset id="session_debug_info" class="debug_info" style="display:none">
        <legend>Session</legend>
        <%= debug(session) -%>
      </fieldset>
      <fieldset id="env_debug_info" class="debug_info" style="display:none">
        <legend>Env</legend>
        <%= debug(request.env) -%>
      </fieldset>
      <fieldset id="request_debug_info" class="debug_info" style="display:none">
        <legend>Request</legend>
        <%= debug(request) -%>
      </fieldset>

    </div>
    <% end -%>
  </body>
</html>
